<h1>Add new celebrity</h1>

<form action='/celebrities' method='POST'>
  <label for='name-input'>Title</label>
  <input id='name-input' type='text' name='name' placeholder='Name' />

  <label for='occupation-input'>Occupation</label>
  <input
    id='occupation-input'
    type='text'
    name='occupation'
    placeholder='Occupation'
  />

  <label for='catchPhrase-input'>Catch Phrase</label>
  <input
    id='catchPhrase-input'
    type='text'
    name='catchPhrase'
    placeholder='CatchPhrase'
  />

  <button>Create celebrity</button>
</form>